.banner {
    padding-top: 1.25rem;
    margin-top: 0;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: 0.125rem;
    overflow: hidden;
    .carousel {
        img {
            width: 100%;
            max-height: 360px;
        }
    } 
    .banner__left{
            padding-right: 0;
    }
    .banner__right{
        .endow {
            text-decoration: none;
            color: rgba(0,0,0,.87);
            display: block;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
            border-radius: 0.125rem;
            overflow: hidden;
            flex: 1 1 50%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .endow:last-child{
                margin-top: 0.3125rem;
                border-bottom-right-radius: 2px;
                overflow: hidden;
        }
    }
    .producer{
        margin: 10px auto 0;
        min-height: 80px;
        text-align: center;
        .producer_item {
            width: 80%;
            max-width: 150px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 0.125rem;
            overflow: hidden;
            transition: all .2s;
            img { 
                width: 100%;
                height: 100%;
            }
            &:hover{
                transform: translateY(-0.0625rem);
            }
        }
    }
}

@include responsive("lg") {
    .banner {
        --bs-gutter-x: 1.5rem;
        padding-top: calc(var(--bs-gutter-x) * .5);
    }
}

@include responsive("md") {
    .banner {
        padding: 0;
        .banner__left{
            padding: 0;
        }
        .carousel {
            img {
                width: 100%;
                max-height: 250px;
            }
        } 
    }
}

@include responsive("sm") {
    .banner {
        .banner__left{
            padding: 0;
        }
        .carousel-control-prev,
        .carousel-control-next {
            display: none;
        }
    }
}

@include responsive("xs") {
    .banner {
        .carousel-caption{
            p{
                margin-bottom: 0.75rem;
            }
        }
    }
}

@include responsive("xs") {
    .banner {
        .carousel-caption{
            bottom: 0.5rem;
            padding-bottom: 0.5rem;
        }
        .carousel-indicators{
                margin-bottom: 0;
        }
    }
}

