.banner {
    padding: 0;
    margin-top: 0;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.125rem;
    overflow: hidden;
    .carousel {
        img {
            width: 100%;
            min-height: 100px;
            max-height: 250px;
        }
    }
    .banner__left {
        padding: 0;
        .carousel-caption {
            bottom: 1rem;
            padding-bottom: 0.25rem;
            p {
                margin-bottom: 0.75rem;
            }
        }
        .carousel-indicators {
            margin-bottom: 0.75rem;
        }
        .carousel-control-prev,
        .carousel-control-next {
            display: none;
        }
    }
    .banner__right {
        .endow {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.87);
            display: block;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
            border-radius: 0.125rem;
            overflow: hidden;
            flex: 1 1 50%;
            img {
                width: 100%;
                height: 100%;
                min-height: 95px;
            }
        }
        .endow:last-child {
            margin-top: 0.3125rem;
            border-bottom-right-radius: 2px;
            overflow: hidden;
        }
    }
    .producer {
        margin: 10px auto 0;
        min-height: 80px;
        text-align: center;
        .producer_item {
            width: 80%;
            max-width: 150px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 0.125rem;
            overflow: hidden;
            transition: all 0.2s;
            img {
                width: 100%;
                height: 100%;
                min-height: 55px;
            }
            &:hover {
                transform: translateY(-0.0825rem);
            }
        }
    }
}

@include responsive("xs") {
    .banner {
        .banner__left {
            .carousel-caption {
                bottom: 1.25rem;
                padding-bottom: 1.25rem;
                p {
                    margin-bottom: 1rem;
                }
            }
            .carousel-indicators {
                margin-bottom: 1rem;
            }
        }
    }
}

@include responsive("sm") {
    .banner {
        .banner__left {
            .carousel-control-prev,
            .carousel-control-next {
                display: flex;
            }
        }
    }
}

@include responsive("md") {
    .banner {
        --bs-gutter-x: 1.5rem;
        padding-top: calc(var(--bs-gutter-x) * 0.5);
        .banner__left {
            padding-left: calc(var(--bs-gutter-x) * 0.5);
        }
        .carousel {
            img {
                width: 100%;
                min-height: 200px;
                max-height: 360px;
            }
        }
    }
}

@include responsive("lg") {
    .banner {
        padding-top: 1.25rem;
    }
}
