.header__top {
    &.fixed__top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
    }
    background: linear-gradient(to right, #0f6a3e 0%, #2ea16a 100%);
    /* background: linear-gradient(90deg, rgb(2, 169, 5) 0%,  rgba(51, 236, 137, 0.781) 68%, rgb(11, 225, 86) 100%); */
    /* background: linear-gradient(90deg, rgba(2,82,169,1) 0%, rgba(66,197,241,1) 68%, rgba(11,141,225,1) 100%); */
    svg {
        font-size: 16px;
    }
    .navbar__top__content {
        height: 2.125rem;
        padding: 8px 0;
    }
    .navbar__top {
        .vertical:not(:first-child):after {
            content: "";
            height: 0.9375rem;
            width: 0;
            border-left: 1px solid hsla(0, 0%, 100%, 0.22);
            border-right: 1px solid hsla(0, 0%, 100%, 0.22);
            position: absolute;
            left: 0px;
            top: calc(50% - 7px);
        }
        a,
        span {
            transition: all 0.5s;
            font-size: 0.8125rem;
            font-weight: 300;
            color: white;
            padding: 0.25rem 0.5rem;
            outline: 0;
            position: relative;
            overflow: visible;
        }
        a:hover {
            color: #15f8ed;
        }
        .hotline {
            color: #fb782ef5;
            font-weight: 700;
            &:hover {
                color: #ce0e0e;
            }
        }
    }

    .navbar__main {
        padding: 0;
        .navbar__end {
            padding: 0;
            display: block;
            position: relative;
            .header__search {
                display: flex;
                flex-wrap: inherit;
                justify-content: space-between;
                align-items: center;
                padding: 0 5px;
                width: 100%;
                .search {
                    width: 80%;
                    position: relative;
                    .header__input__search {
                        color: #000;
                        font-size: 1rem;
                        background-color: #fff;
                        border: solid 1px #eee;
                        border-radius: 10em;
                        transition: all 0.5s;
                        cursor: pointer;
                        outline: none;
                    }
                    .button__search {
                        position: absolute;
                        padding: 6px 20px;
                        top: 0.5px;
                        right: 3px;
                        font-size: 0.8rem;
                        border-radius: 10em;
                        background: #2ea16a;
                        border: solid 1px #eee;
                        outline: none;
                        transition: all 0.5s;
                        &:hover,
                        &:active {
                            background-color: #157347;
                            border-color: #157347;
                        }
                    }
                }
                .button__cart {
                    margin-left: 5px;
                    top: 2px;
                    right: 3px;
                    font-size: 1rem;
                    border-radius: 10em;
                    border: solid 1px #eee;
                    outline: none;
                    color: rgb(2, 169, 5);
                    background: white;
                    transition: all 0.5s;
                    &:hover,
                    &:active {
                        color: white;
                        background-color: #0f6a3e;
                        border-color: #0f6a3e;
                    }
                }
                .navbar-toggler {
                    margin: 0 5px;
                    padding: 0;
                    border: none;
                    outline: none;
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
            .navbar__menu {
                display: block;
                position: absolute;
                right: 0;
                bottom: auto;
                left: 0;
                z-index: 3;
                height: 0;
                margin: 0;
                padding: 0 20px;
                overflow: hidden;
                background: linear-gradient(to right, rgba(15, 106, 62, 0.85) 0%, rgba(46, 161, 105, 0.85) 100%);
                transition: all 1s ease-out;
                .menu__product__title,
                a {
                    color: white;
                    padding: 8px 12px 8px 12px;
                    font-weight: 600;
                    transition: all 0.5s;
                    &:hover {
                        color: #15f8ed;
                    }
                    line-height: 1.5;
                }
                &.collapse.show {
                    padding: 20px 20px;
                    height: 100vh;
                }
                .menu__product {
                    border: 1px solid transparent;
                    cursor: pointer;
                    .menu__product__title {
                        span {
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 5px;
                        }
                    }
                    .menu__product__content {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        padding: 1rem 0;
                        width: 100%;
                        .menu__item {
                            box-shadow: -2px 1px 5px transparent;
                            border: 1px solid transparent;
                            &:hover {
                                background: #e9ebeb9c;
                                .title__list {
                                    a {
                                        color: #09522f;
                                    }
                                }
                            }
                            .one__list {
                                display: none;
                                .one__list__item {
                                    padding-left: 1rem;
                                    &:hover {
                                        background: #dde1e1e0;
                                        a{
                                            color: #09522f;
                                        }
                                    }
                                }
                            }
                            &:hover .one__list {
                                display: block;
                            }
                        }
                    }
                    &:hover {
                        .menu__product__title {
                            color: #15f8ed;
                        }
                        .menu__product__content {
                            display: block !important;
                        }
                    }
                }
            }
        }
    }
}

.header__bottom{
    background: linear-gradient(to right, #0f6a3e 0%, #2ea16a 100%);
    .navbar__bottom{
        padding: 0;
        a{
            color: white;
            svg{
                font-size: 1.3rem;
            }
        }
    }
    
}

@include responsive("md") {
    .header__top {
        &.fixed__top {
            position: static;
        }
        .navbar__main {
            --bs-gutter-x: 1.5rem;
            padding-left: calc(var(--bs-gutter-x) * 0.5);
            padding-right: calc(var(--bs-gutter-x) * 0.5);
            .navbar__end {
                .header__search {
                    padding: 8px;
                }
                .navbar__menu {
                    position: relative;
                    padding: 0;
                    height: auto;
                    background: transparent;
                    overflow: visible;
                    .menu__product {
                        z-index: 2;
                        .menu__product__content {
                            display: none;
                            position: absolute;
                            inset: 0px auto auto 0px;
                            transform: translate3d(0px, 34px, 0px);
                            width: 30%;
                            height: 100vh;
                            background: rgba(46, 161, 105, 0.85);
                            border: 1px solid rgba(46, 161, 105, 1);
                            .menu__item {
                                padding: 0.7rem 0 0.7rem 1rem;
                                .one__list {
                                    position: absolute;
                                    top: 0;
                                    left: 100%;
                                    width: 70%;
                                    height: 100vh;
                                    z-index: 2;
                                    padding: 1rem 0;
                                    border-radius: 4px;
                                    background: rgba(46, 161, 105, 0.85);
                                    box-shadow: 0 1px 5px #e7e7e7;
                                    border: 1px solid rgba(46, 161, 105, 1);
                                }
                            }
                        }
                        &:hover {
                            border: 1px solid rgba(46, 161, 105, 1);
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
            }
        }
    }
}
