$XS: 374px;
$SM: 480px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;

// media queries

@mixin Responsive($canvas) {
    @if $canvas == XS {
        @media only screen and (max-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (max-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (max-width: $MD) {
            @content;
        }
    } @else if $canvas == LG {
        @media only screen and (max-width: $LG) {
            @content;
        }
    } @else if $canvas == XL {
        @media only screen and (max-width: $XL) {
            @content;
        }
    }
}

.about {
    padding-top: 1.25rem;
    .about__content {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
        .swiper {
            height: auto;
            position: relative;
            background-color: white;
            .swiper-pagination {
                position: absolute;
                z-index: 2;
                top: 11%;
                left: 10%;
                display: flex;
                flex-direction: column;
                color: #7f7f7f;
                font-size: 1.8rem;
                line-height: 1.8;
                transition: all 0.5s;
                .about__title {
                    cursor: pointer;
                    &:hover {
                        color: #09522f;
                    }
                }
                @include Responsive(XL) {
                    top: 4rem;
                    left: 2rem;
                    font-size: 1.8rem;
                }
                @include Responsive(SM) {
                    top: 1.2rem;
                    left: 1rem;
                    font-size: 1.8rem;
                    line-height: 1.5;
                }
                @include Responsive(XS) {
                    top: 1rem;
                    left: 1rem;
                    font-size: 1.4rem;
                }
            }
            .swiper-pagination-bullet-active {
                color: #09522f;
            }
            .about__item {
                width: 100%;
                padding: 2rem;
                font-size: 18px;
                .about__image {
                    max-width: 400px;
                    max-height: 400px;
                    margin-left: auto;
                    border-radius: 0.125rem;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .about__caption {
                    max-height: 100px;
                    margin-left: auto;
                    text-align: left;
                    padding: 1rem 0.75rem 0;
                    width: 80%;
                    color: #09522f;
                    overflow: hidden;
                    transition: all .5s;
                    @include Responsive(XL) {
                        width: 90%;
                    }
                    @include Responsive(LG) {
                        width: 100%;
                    }
                    &:hover{
                        max-height: 100%;
                    }
                }
                @include Responsive(MD) {
                    padding: 1rem 0;
                }
                @include Responsive(SM) {
                    padding: 0 0 1rem 0;
                    font-size: 16px;
                }
            }
        }
    }
}
