.about{
    padding: 1.25rem  0;
    img{
        margin-left: auto;
        width: 50%;
    }
    .carousel-caption {
        right: 0px;
        bottom: 0.5rem;
        color: #ff8c00;
    }
    .carousel-indicators{
        top: 30%;
        right: auto;
        bottom: auto;
    }
}

