.product__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    a {
        text-decoration: none;
        .product__image {
            position: relative;
            &::before {
                content: '';
                width: 50%;
                height: 100%;
                position: absolute;
                top: 0;
                left: -75%;
                display: block;
                background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
                transform: skewX(-17deg);
            }
            min-height: 168px;
            display: flex;
            align-items: center;
            border-radius: 0.125rem;
            overflow: hidden;
            img {
                max-width: 100%;
                height: auto;
                min-height: 210px;
            }
        }
        .product_content {
            padding: 15px 0;
            .product__name {
                font-size: 14px;
                color: #333;
                margin-bottom: 8px;
                line-height: 21px;
            }
            .product__price {
                color: #d0021c;
                font-weight: bold;
                line-height: 18px;
                font-size: 18px;
                margin-bottom: 8px;
            }
            .product__rate{
                b {
                    color: #fb6e2e;
                    display: inline-block;
                    vertical-align: middle;
                }
                svg {
                    color: #fb6e2e;
                    margin: 0 10px 2px 5px;
                }
            }
        }
        &:hover .product__image::before {
            left: 125%;
            transition: 1s all;
        }
    }
}




 