.header__wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: transparent;
    &.nav__fixed {
        background-color: #fff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        button {
            color: rgba(0, 0, 0, 0.45);
        }
    }
    a {
        font-weight: 700;
        transition: all 0.5s;
        color: white;
        outline: 0;
        margin: auto;
        &:hover {
            color: #15f8ed;
        }
    }
    svg {
        display: block;
        margin: auto;
        font-size: 22px;
    }
    button {
        color: #fff;
    }
    .navbar__top {
        .vertical:not(:first-child):after {
            content: "";
            height: 0.9375rem;
            width: 0;
            border-left: 1px solid hsla(0, 0%, 100%, 0.22);
            border-right: 1px solid hsla(0, 0%, 100%, 0.22);
            position: absolute;
            left: 0px;
            top: calc(50% - 7px);
        }
        a,
        span {
            font-size: 0.8125rem;
            font-weight: 300;
            padding: 0.25rem 0.5rem;
            position: relative;
            overflow: visible;
        }
        .hotline {
            color: #fb782ef5;
            font-weight: 700;
            &:hover {
                color: #ce0e0e;
            }
        }
        .navbar__top__content {
            height: 2.125rem;
            padding: 8px 0;
        }
    }

    .header__main {
        padding: 0;
        .navbar__main {
            padding: 0;
            display: block;
            position: relative;
            .navbar__search {
                display: flex;
                flex-wrap: inherit;
                justify-content: space-between;
                align-items: center;
                padding: 0 5px;
                width: 100%;
                .search__wrap {
                    position: relative;
                    width: 75%;
                    .input__search {
                        height: 32px;
                        color: #000;
                        font-size: 1rem;
                        background-color: #fff;
                        border: solid 1px #eee;
                        border-radius: 10em;
                        transition: all 0.5s;
                        cursor: pointer;
                        outline: none;
                        box-shadow: none;
                    }
                    .button__search {
                        position: absolute;
                        padding: 6px 12px;
                        top: 2px;
                        right: 2px;
                        font-size: 0.8rem;
                        border-radius: 10em;
                        color: rgba(0, 0, 0, 0.45);
                        background: transparent;
                        border: none;
                        outline: none;
                        transition: all 0.5s;
                        svg {
                            font-size: 16px;
                        }
                        &:hover,
                        &:active {
                            background-color: #0f6a3e;
                            color: #fff;
                        }
                    }
                }
                .button__cart {
                    margin-left: 5px;
                    font-size: 1rem;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    transition: all 0.5s;
                }
                .button__menu,
                .navbar-toggler {
                    margin: 0 5px;
                    padding: 0;
                    border: none;
                    outline: none;
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
            .navbar__menu {
                display: block;
                position: absolute;
                right: 0;
                bottom: auto;
                left: 0;
                z-index: 3;
                height: 0;
                margin: 0;
                padding: 0 20px;
                overflow: hidden;
                background: rgba(255, 255, 255, 0.9);
                transition: all 1s ease-out;
                &.collapse.show {
                    padding: 20px 20px;
                    height: 100vh;
                }
                .menu__product {
                    border: 1px solid transparent;
                    cursor: pointer;
                    a {
                        margin: auto;
                        color: rgba(0, 0, 0, 0.45);
                        padding: 8px 12px 8px 12px;
                        font-weight: 700;
                        transition: all 0.5s;
                        &:hover {
                            color: #0f6a3e;
                        }
                        line-height: 1.5;
                    }
                    .menu__product__content {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        padding: 1rem 0;
                        width: 100%;
                        .menu__item {
                            box-shadow: -2px 1px 5px transparent;
                            border: 1px solid transparent;
                            &:hover {
                                background: rgb(255, 255, 255);
                                box-shadow: -2px 1px 5px #e7e7e7;
                                border: 1px solid #e7e7e7;
                                .title__list {
                                    a {
                                        color: #09522f;
                                    }
                                }
                            }
                            .one__list {
                                display: none;
                                .one__list__item {
                                    padding-left: 1rem;
                                    &:hover {
                                        background: rgba(221, 225, 225, 0.878);
                                        a {
                                            color: #09522f;
                                        }
                                    }
                                }
                            }
                            &:hover .one__list {
                                display: block;
                            }
                        }
                    }
                    &:hover {
                        .menu__product__title {
                            color: #15f8ed;
                        }
                        .menu__product__content {
                            display: block !important;
                        }
                    }
                }
            }
        }
    }
}

.header__bottom {
    background: white;
    box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    .navbar__bottom {
        padding: 0;
        a {
            color: rgba(0, 0, 0, 0.54);
            svg {
                font-size: 1.3rem;
            }
            &:hover, 
            &:active{
                outline: none;
                color: #0f6a3e;
            }
        }
    }
}

@include responsive("md") {
    .header__wrap {
        position: static;
        svg {
            display: inline;
            font-size: 16px;
        }
        background: linear-gradient(to right, #0f6a3e 0%, #2ea16a 100%);
        .header__main {
            --bs-gutter-x: 1.5rem;
            padding-left: calc(var(--bs-gutter-x) * 0.5);
            padding-right: calc(var(--bs-gutter-x) * 0.5);
            .navbar__main {
                .navbar__search {
                    padding: 8px;
                    .search__wrap {
                        width: 80%;
                        position: relative;
                        .button__search {
                            padding: 6px 20px;
                            top: 1px;
                            right: 2px;
                            color: white;
                            background: #2ea16a;
                            &:hover,
                            &:active {
                                background-color: #157347;
                            }
                        }
                    }
                    .button__cart {
                        svg {
                            display: block;
                            font-size: 24px;
                            margin: auto;
                        }
                        &:hover{
                            color: #15f8ed;
                        }
                    }
                }
                .navbar__menu {
                    position: relative;
                    padding: 0;
                    height: auto;
                    background: transparent;
                    overflow: visible;
                    .menu__product {
                        .menu__product__title,
                        a {
                            margin: auto;
                            color: rgba(0, 0, 0, 0.45);
                            padding: 8px 12px 8px 12px;
                            font-weight: 700;
                            transition: all 0.5s;
                            line-height: 1.5;
                        }
                        .menu__product__title {
                            color: #fff;
                            span {
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: 5px;
                            }
                        }
                        .menu__product__content {
                            display: none;
                            position: absolute;
                            inset: 0px auto auto 0px;
                            transform: translate3d(0px, 34px, 0px);
                            width: 30%;
                            height: 100vh;
                            background: rgba(46, 161, 105, 0.85);
                            border: 1px solid rgba(46, 161, 105, 1);
                            a {
                                color: #fff;
                            }
                            .menu__item {
                                padding: 0.5rem 0 0.5rem 1rem;
                                .one__list {
                                    position: absolute;
                                    top: 0;
                                    left: 100%;
                                    width: 70%;
                                    height: 100vh;
                                    z-index: 2;
                                    padding: 1rem 0;
                                    border-radius: 4px;
                                    background: rgba(46, 161, 105, 0.85);
                                    box-shadow: 0 1px 5px #e7e7e7;
                                    border: 1px solid rgba(46, 161, 105, 1);
                                }
                                &:hover {
                                    background: #e9ebeb9c;
                                }
                            }
                        }
                        &:hover {
                            border: 1px solid rgba(46, 161, 105, 1);
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
            }
        }
    }
}
